<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		<div class="fr">
		<h2>Reports</h2>
		</div>
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div class="jumbotron">
			<div class="container">
				<h1>Latest Searches</h1>
				<p>Here you can see your latest searches. </p>
				<h2>Report: Email Search</h2>
		</div>
	</snap-content>
	</div>
	<div class="container">
			<div class="table-responsive">
				<table class="table ">
					<thead>
						<tr>
							<th>Search</th>
							<th>Names</th>
							<th>Usernames</th>
							<th>Emails</th>
							<th>Social</th>
							<th>Jobs</th>
						</tr>
					</thead>
					<tbody>
			      <tr ng-repeat="item in reporte">
			        <td>{{item.search}}</td>
			        <td>
								<span ng-repeat="i in item.names">{{i.full}}<br></span>
			         </td>
							<td >
								<span ng-repeat="i in item.usernames">{{i}}<br></span>
							</td>
							<td>
								<span ng-repeat="i in item.emails">{{i.email_address}}<br></span>
							</td>
							<td>


									<span  ng-repeat="i in item.social">
										<a style="text-transform: capitalize" href="{{ i.url}}"> {{ i.type}} </a>
										<br>
									</span>



							</td>
							<td>
								<span ng-repeat="i in item.jobs">{{i.company}}<br></span>
								</td>

			      </tr>
			    </tbody>
				</table>
			</div>
		<br />
		<p>
			<a class="btn btn-primary btn-lg btn-white" ui-sref="emailSearch">Back to Email Search</a>
		</p>
		</div>
</div>
